# Mac junk files
.DS_Store

# FPGA synthesis files
work/
*.wlf
*.dbg
*.log
*.jou
transcript
compile.log
modelsim.ini
clockInfo.txt

# Models folder
.venv/
__pycache__/
golden/
sample_image/
tiny_vit_5m_1k.pth

# Vscode
.vscode/

# Vivado report
build

# Junk Folders
test_files/
